@font-face {
  font-family: "ALSRubl";
  src: url("../fonts/ALSRubl.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Regular.woff') format('woff'),
    local('Geometria Regular'), local('Geometria-Regular');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Medium.woff') format('woff'),
    local('Geometria Medium'), local('Geometria-Medium');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url('../fonts/Geometria-Bold.woff') format('woff'),
    local('Geometria Bold'), local('Geometria-Bold');
  font-weight: bold;
  font-style: normal;
}

@font-face {
	font-family: 'Geometria';
  src: url('../fonts/Geometria-ExtraBold.woff') format('woff'),
    local('Geometria ExtraBold'), local('Geometria-ExtraBold');
	font-weight: 800;
	font-style: normal;
}
