.callback {
  padding: 100px 100px 124px;
  background: #eef1fb url('../../img/bg-request.jpg') 50% 50% no-repeat;
  background-size: cover;
}

.callback__title {
  margin-bottom: 40px;
  color: #010101;
  font-size: 48px;
  font-weight: 700;
  line-height: 38px;
}
