.examples {
  padding: 90px 0 155px;
  background-color: #25202a;
  @media (max-width: $breakpoint-small) {
    padding: 60px 0 90px;
  }
}

.examples__section-title {
  margin-bottom: 90px;
}

.examples__wrapper {
  display: grid;
  grid-template-columns: 70px auto;
  grid-gap: 30px;
  @media (max-width: $breakpoint-small) {
    grid-template-columns: 100%;
  }
}

.examples__thumbnav {
  align-items: center;
  margin: 0 30px;
  @media (max-width: $breakpoint-small) {
    display: none;
  }
}

.examples__thumbnav-link {
  border: 4px solid transparent;
}

.examples__thumbnav-item {
  margin-bottom: 10px;
  &.uk-active {
    .examples__thumbnav-link {
      border: 4px solid #6f2eab;
      border-image: linear-gradient(-25deg, #00dccd 0%, #6f2eab 99%, #6f2eab 100%) 4;
    }
  }
}

.examples__links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 40px;
  padding-bottom: 20px;
}

.examples__nav-link {
  @include reset-link;
  display: flex;
  align-items: center;
  width: 40px;
  color: rgba(255,255,255,0.4);
  svg {
    width: 40px;
    height: 65px;
  }
  &--left {
    justify-content: flex-start;
  }
  &--right {
    justify-content: flex-end;
  }
  &:hover {
    color: rgba(255,255,255,1);
  }
}

.examples__content {
  display: flex;
  padding-bottom: 20px;
}

.examples__link {
  color: #958e9b;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  &:hover {
    color: #fff;
  }
}