.examples {
  padding: 90px 0 155px;
  background-color: #25202a;
  @media (max-width: $breakpoint-small) {
    padding: 60px 0 90px;
  }
}

.examples__section-title {
  margin-bottom: 90px;
}

.examples__wrapper {
  display: grid;
  grid-template-columns: 70px auto;
  grid-gap: 30px;
  @media (max-width: $breakpoint-small) {
    grid-template-columns: 100%;
  }
}

.examples__thumbnav {
  align-items: center;
  justify-content: space-between;
  margin: 60px 0 45px;
  @media (max-width: $breakpoint-small) {
    justify-content: flex-start;
    margin: 0;
  }
}

.examples__thumbnav-link {
  border: 4px solid transparent;
}

.examples__thumbnav-item {
  margin-bottom: 10px;
  &.uk-active {
    .examples__thumbnav-link {
      border: 4px solid #6f2eab;
      border-image: linear-gradient(-25deg, #00dccd 0%, #6f2eab 99%, #6f2eab 100%) 4;
    }
  }
}

.examples__nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.examples__nav-link {
  @include reset-link;
  color: #958e9b;
  font-size: 14px;
  font-weight: 500;
  &--left {
    padding: 10px 0 10px 10px;
    border-left: 1px solid #5b5562;
  }
  &--right {
    padding: 10px 10px 10px 0;
    border-right: 1px solid #5b5562;
  }
  &:hover {
    color: #00dccd;
    border-color: #00dccd;
  }
  @media (max-width: $breakpoint-small) {
    border: none;
  }
}

.examples__content {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  grid-gap: 30px;
  & > div:first-child {
    grid-row: 1 / 3;
  }
  @media (max-width: $breakpoint-medium) {
    grid-template-columns: 100%;
  }
}

.examples__type {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 13px 35px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  background-color: #6f2eab;
  text-align: center;
}

.examples__large-item {
  position: relative;
  height: 100%;
}

.examples__large-item-wrapper {
  display: block;
  margin-bottom: 9px;
  padding-top: 96.8%;
}

.examples__image {
  transition: opacity 0.25s;
}

.examples__small-item {
  position: relative;
}

.examples__link {
  color: #958e9b;
  font-size: 14px;
  font-weight: 500;
  text-decoration: underline;
  &:hover {
    color: #958e9b;
  }
}

.examples__small-item-wrapper {
  display: block;
  margin-bottom: 10px;
  padding-top: 60.2%;
}

.examples__items {
  overflow: visible !important;
  & > * {
    overflow: visible !important;
  }
}
