.features {
  padding: 120px 0 215px;
  background: #f2eef9 url('../../img/bg-features.jpg') 50% 50% no-repeat;
  background-size: cover;
  @media (max-width: $breakpoint-medium) {
    padding: 100px 0 150px;
  }
  @media (max-width: $breakpoint-small) {
    padding: 60px 0 90px;
  }
}

.features__section-title {
  margin-bottom: 90px;
  @media (max-width: $breakpoint-medium) {
    margin-bottom: 55px;
  }
  @media (max-width: $breakpoint-small) {
    margin-bottom: 35px;
  }
}

.features__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 360px));
  grid-gap: 30px;
  justify-content: center;
}
