.main-footer {
  padding: 45px 0;
  @media (max-width: $breakpoint-small) {
    padding: 45px 15px;
  }
}

.main-footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-footer__links {
  @media (max-width: $breakpoint-large) {
    order: 2;
  }
}

.main-footer__link {
  display: block;
  margin-bottom: 10px;
  color: #1e1e1e;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  &:hover {
    color: #1e1e1e;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.main-footer__rightside {
  display: flex;
  align-items: center;
  @media (max-width: $breakpoint-large) {
    order: 1;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
  @media (max-width: $breakpoint-medium) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.main-footer__main-nav {
  margin-right: 45px;
  @media (max-width: $breakpoint-medium) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
