.result {
  padding: 100px 0 144px;
  background-color: #f3f3f3;
  @media (max-width: $breakpoint-medium) {
    padding: 60px 0 90px;
  }
}

.result__section-title {
  margin-bottom: 78px;
  @media (max-width: $breakpoint-medium) {
    margin-bottom: 55px;
  }
  @media (max-width: $breakpoint-small) {
    margin-bottom: 35px;
  }
}

.result__grid {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-gap: 70px;
  @media (max-width: $breakpoint-medium) {
    grid-template-columns: 100%;
  }
}

.result__text {
  max-width: 580px;
  p {
    margin: 13px 0;
    line-height: 1.2;
  }
}

.result__section {
  margin-bottom: 22px;
}

.result__title {
  margin: 0 0 15px 0;
  color: #171717;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.58;
}

.result__text {
  color: #484848;
  font-size: 14px;
  font-weight: 500;
}

.result__list {
  @include reset-list;
  padding-left: 40px;
}

.result__list-item {
  position: relative;
  margin-bottom: 5px;
  &::before {
    content: '';
    position: absolute;
    left: -26px;
    top: 5px;
    width: 12px;
    height: 9px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 12 9'%3E%3Cdefs%3E%3Cpath id='a' d='M404.818 2446.121l-2.859-2.825-.954.94 3.813 3.769 8.169-8.073-.95-.942z'/%3E%3C/defs%3E%3Cuse fill='%23573c72' xlink:href='%23a' transform='translate(-401 -2439)'/%3E%3C/svg%3E%0A") 50% 50% no-repeat;
    background-size: 12px 9px;
  }
}

.result__video-wrapper {
  position: relative;
  padding-top: 58%;
}

.result__video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
