.template-item {
  height: 100%;
  box-sizing: border-box;
  padding: 30px 22px 46px;
  background-color: #fff;
}

.template-item__image-wrapper {
  display: block;
  margin-bottom: 16px;
  padding-top: 86%;
  &:hover + .template-item__title-link {
    .template-item__title {
      color: #672aa0;
    }
  }
}

.template-item__title-link {
  @include reset-link;
  display: block;
  margin-bottom: 15px;
  &:hover {
    .template-item__title {
      color: #672aa0;
    }
  }
}

.template-item__title {
  margin: 0;
  color: #101c23;
  font-size: 14px;
  font-weight: 500;
}

.template-item__price {
  margin-bottom: 25px;
  color: #101c23;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}
